block content
  .comments__block
    .comments__header
      a.announce-card(href='#')
        h2.announce-card__title Ленд Ровер
        span.announce-card__info
          span.announce-card__price ₽ 900 000
          span.announce-card__type ПРОДАМ
    include comments-list.pug
