block content
  ul.comments-list
    li.js-card
      .comment-card
        .comment-card__header
          a.comment-card__avatar.avatar(href='#')
            img(src='../img/avatar03.jpg' srcset='img/avatar03@2x.jpg 2x' alt='Аватар пользователя')
          p.comment-card__author Александр Бурый
        .comment-card__content
          p
            | А что с прогоном автомобиля? Также вижу на фото зимнюю резину. А летняя идет ли впридачу?
        button.comment-card__delete.js-delete(type='button') Удалить
    li.js-card
      .comment-card
        .comment-card__header
          a.comment-card__avatar.avatar(href='#')
            img(src='../img/avatar04.jpg' srcset='../img/avatar04@2x.jpg 2x' alt='Аватар пользователя')
          p.comment-card__author Анатолий Хакимов
        .comment-card__content
          p Хочу прийти посмотреть на авто в среду. Мой телефон 89254455566. Готовы принять?
        button.comment-card__delete.js-delete(type='button') Удалить
    li.js-card
      .comment-card
        .comment-card__header
          a.comment-card__avatar.avatar(href='#')
            img(src='../img/avatar02.jpg' srcset='../img/avatar02@2x.jpg 2x' alt='Аватар пользователя')
          p.comment-card__author Георгий Шпиц
        .comment-card__content
          p Что это за рухлядь? Стыдно такое даже фотографировать, не то, что продавать.
        button.comment-card__delete.js-delete(type='button') Удалить

