extends layout.pug
block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      include partials/categories-list.pug

    section.tickets-list
      h2.visually-hidden Предложения из категории #{offers.category.name}
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
             | #{offers.category.name}  &nbsp;
            b.js-qty #{count}

        if (offers.current.length > 0)
          ul
            each offer in offers
              include partials/tickets-list-item.pug
        else
          p Объявления отсутствуют
  +pagination(page, totalPages, 2, `?`)
