extends layout.pug
block content
  main.page-content
    if (categories.length > 0)
      include partials/categories/categories-section.pug
      include partials/offers-recent-section.pug

      if (offers.discussed.length > 0)
        include partials/offers-discussed-section.pug
    else
      include main-empty.pug
