extends layout.pug
block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='offers/add')
            span Новая публикация

        include partials/my-tickets-list.pug

        +pagination(page, totalPages, 2, `?`)
