extends layout.pug
block content
  main.page-content
  section.search-results
    h1.visually-hidden Результаты поиска
    .search-results__wrapper
      .search-results__message
        p
          | Не найдено
          br
          | ни одной публикации
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самое свежее
        a.tickets-list__link(href='#') Еще 25
      include partials/tickets-list.pug
